.container-profile {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 350px;
    height: 350px;
    margin: 0 auto 20px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #ddd;
}

.input-group-profile {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.input-group-profile input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    left: 50%;
}
.text-perfil{
    color: white;
    text-align: start;
}
.historico{
    padding: 60px;
    color: white;
}
.historico-ne{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fica-historico{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cartao-profile{
    background-color: #232323;
    width: 330px;
    height: 330px;
}
.container-historico {
    display: flex;
    padding: 16px;
    align-items: flex-start; /* Alinha o conteúdo no topo */
    width: calc(50% - 16px); /* Ajustado para que ambas caibam lado a lado */
  }
  
  .left-historico {
    background-color: #333;
    width: 350px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
  }
  
  .right-historico {
    color: white;
    width: 300px;
    height: auto; /* Ajusta a altura automaticamente */
    margin-left: 20px; /* Adiciona espaço entre as colunas */
  }
  
  .right-historico p {
    margin-top: 10px;
    font-size: 14px;
  }

.button-50,
.button-50:after {
  cursor: pointer;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #0F4AA7 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-50:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #0F4AA7 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-50:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-50,
  .button-50:after {
    width: 200px;
    height: 50px;
    line-height: 50px;
  }
}   
@media (max-width:800px){
  .fica-historico, .historico-ne{
    display: flex;
    flex-direction: column;
  }

}
@media (max-width:720px){
  .container-historico {
display: flex;
flex-direction: column;
  }

}
