
.container-usuarios {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.user-info-usuarios {
    display: flex;
    margin-bottom: 20px;
}

.user-avatar-usuarios {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-icon-usuarios {
    font-size: 5rem;
    color: blue;
    border: 2px solid blue;
    width: 300px;
    height: 350px;
    padding: 40px;
}

.user-details-usuarios, .permissions-usuarios {
    width: 45%;
    color: white;
    text-align: left;
}



.actions-usuarios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
